/* ************************* */
/*          BUTTONS          */
/* ************************* */
.button {
  display: block;
  padding: none;
  background-color: #5BACC3;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.313rem;  
  width: 11.25rem;
  padding: 1.25rem;
}
.button a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.313rem;  
  color: #ffffff;
}
