@use "./globals" as *;
@use "./typography";

.footer {
  height: 14rem;
  background-color: $nitro-pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  position: relative;
  overflow: hidden;

  &__image--left {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50px);
  }
  &__image {
    width: 120px;
    opacity: 0.25;
    z-index: -1;
  }

  &__image--right {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(50px);
  }
  &__image {
    width: 120px;
    opacity: 0.25;
    z-index: -1;
  }

  &__section {
    display: inline-block;
    margin: 1.25rem 1.25rem;
  }
  &__logo {
    width: 50px;
  }
  &__header {
    @include typography.headerThree;
    margin-bottom: 1.25rem;
  }
  &__text {
    @include typography.paragraph;
  }
  &__text--bold {
    font-weight: $font-bold;
  }
}
