/* ************************* */
/*        BODY + HTML        */
/* ************************* */
html {
  width: 100%;
}
body {
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 0;
}

/* ************************* */
/*         VARIABLES         */
/* ************************* */

/* COLORS */
$nitro-pink: #FFF0ED;
$nitro-blue: #5BACC3;
$graphite: #393939;
$gray: #909090;
$light-gray: #F7F7F7;
$light: #FFFFFF;

/* FONT SIZES */
$heading-one: 3.75rem;
$heading-two: 3.75rem;
$promotion: 2.813rem;
$heading-three: 2.06rem;
$interactive: 1.313rem;
$paragraph: 1.125rem;

/* FONT WEIGHTS */
$font-light: 300;
$font-regular: 400;
$font-bold: 700;

