@use "./globals" as *;
@use "./typography";

.navbar {
  background-color: $nitro-pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.25rem;

  &__left {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 3.125rem;
  }
  &__header {
    margin: 0;
    @include typography.typeface($heading-three, $font-light, $graphite, none, 0, uppercase);
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    @include typography.typeface($interactive, $font-regular, $graphite, none, 0, uppercase);
  }
  &__link--active {
    color: $nitro-blue;
  }
}
