/* ************************* */
/*        TYPOGRAPHY         */
/* ************************* */
h1, h2 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 3.75rem;
  color: #393939;
}

h3 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 2.06rem;
  color: #393939;
}

p {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 1.125rem;
  color: #393939;
}

.text--white {
  color: #ffffff;
}

.text--nitroBlue {
  color: #5BACC3;
}

.text--italic {
  font-style: italic;
}

.text--bold {
  font-style: normal;
  font-weight: 700;
}
