@mixin typeface($size, $weight, $color, $decoration, $margin, $transform) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-decoration: $decoration;
  margin: $margin;
  text-transform: $transform;
}
